/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{margin: 0;}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}

/* SCROLLBAR */
/* CHROME/MOZILLA */
.scroller::-webkit-scrollbar {
  width: 10px;
}

.scroller::-webkit-scrollbar-track {
  width: 20px;
  background: white;
}

.scroller::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 5px;
  border: 1px solid white;
}
/* FIREFOX */
.scroll{
  scrollbar-color: #c8c8c8 white;
  scrollbar-width: thin;
}
/* FINE SCROLLBAR */
/* FINE REGOLE GENERALI */

/* /////////////////////// IMPOSTAZIONE HEADER ////////////////////////////// */
/* LOGO */
.nav-bar .logo{
  z-index: 10;
  height: 35px;
  margin: 15px;
}
.nav-bar .logo-nascosto{
  display: none;
  height: 20px;
}

/* NAV-BAR */
.nav-bar{
  position: relative;
  background: black;
  width: 200px;
  height: calc(100vh - 81px);
  float: left;
}
.nav-bar li.active{
  border-left: 3px solid #adff2f;
}
.nav-bar li.active a{
  color: white;
}
.nav-bar li{
  border-left: 3px solid black;
}
.nav-bar a{
  color: #717171;
}
.nav-bar a:hover{
  color: white;
}
.nav-bar i{
  font-size: 20px;
  width: 35px;
  vertical-align: sub;
  padding: 5px 15px 5px 15px;;
}
.nav-bar span{
  font-size: 15px;
  padding-left: 10px;
}
.nav-bar p{
  color: white;
  font-weight: bold;
  padding-left: 15px;
}

/* PLAYLIST */
.nav-bar .fa-plus{
  background: #a3a3a3;
  color: black;
  margin: 10px 0px 10px 13px;
  padding-left: 9px;
}
.nav-bar a:hover .fa-plus{
  background: white;
}
.nav-bar .playlist{
  overflow-y: auto;
  height: calc(100vh - 380px)
}
.nav-bar .playlist a.item{
  display: block;
  padding-left: 10px;
  margin-bottom: 15px;
}

/* NAV-BAR BOTTOM */
.header-bottom{
  position: absolute;
  bottom: 0;
  background: black;
}
.header-bottom hr{
  margin: 5px 0px 5px 15px;
  width: 90%;
  display: block;
  height: 1px;
  background: #a3a3a3;
  border: none;
}
.header-bottom .fa-arrow-alt-circle-down{
  font-size: 13px;
  vertical-align: baseline;
}
.header-bottom .fa-user-circle{
  font-size: 20px;
  vertical-align: baseline;
}
.header-bottom .profilo span{
  color: white;
}

/* IMPOSTAZIONE MEDIA QUERY LARGHEZZA */
@media screen and (max-width: 600px) {
  .nav-bar{
    width: 50px;
    font-size: 15px;
  }
  .nav-bar .logo-nascosto{
    display: inline-block;
    margin: 10px 15px;
  }
  .header-bottom .fa-arrow-alt-circle-down{
    font-size: 15px;
    margin-left: 3px;
  }
  .nav-bar i:hover{
    color: white;
  }
  .nav-bar li{
    border: none;
  }
  .nav-bar li.active{
    border: none;
  }
  .nav-bar a,
  .nav-bar hr,
  .nav-bar p,
  .nav-bar .logo,
  .nav-bar .playlist{
    display: none;
  }
}

/* IMPOSTAZIONE MEDIA QUERY ALTEZZA */
@media screen and (max-height: 245px) {
  .height-hidden{
    display: none;
  }
  .header-bottom{
    display: none;
  }
}
/* //////////////////// FINE IMPOSTAZIONE HEADER //////////////////////////// */


/* /////////////////////// IMPOSTAZIONE MAIN //////////////////////////////// */
/* MAIN FIXED-TOP */
.upgrade-fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
}
.upgrade-fixed-top a{
  color: white;
}
.upgrade-fixed-top .upgrade{
  font-size: 10px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px 30px;
  margin: 12px 25px;
  font-weight: bold;
  float: right;
}
.upgrade-fixed-top .upgrade:hover{
  transform: scale(1.1);
}

/* MAIN GENERALE */
.wrapper-main{
  width: calc(100% - 200px);
  height: calc(100vh - 81px);
  background: #141922;
  overflow-y: auto;
  float: left;
}
.menu-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}
.menu-main li{
  display: inline-block;
  padding: 10px 10px;
}
.menu-main a{
  font-size: 11px;
  font-weight: bold;
  color: #7d7f84;
}
.menu-main a:hover{
  color: white;
}
.menu-main .active{
  width: 30px;
  height: 2px;
  background: #adff2f;
  margin: auto;
}

/* ALBUM MAIN */
.album h3{
  color: white;
  font-weight: bold;
  margin-left: 20px;
}
.sub{
  margin-left: 20px;
  color: gray;
}
.album-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px 10px 20px;
}
.item-album {
  flex-basis: calc(100% / 6);
  text-align: center;
  color: gray;
}
.immagine-album{
  position: relative;
}
.layover{
  display: none;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.item-album .play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 150%;
  color: white;
}
.immagine-album:hover .immagine-album .play{
  display: inline-block;
}
.item-album img{
  width: 90%;
  margin: auto;
}
.item-album:hover .layover{
  display: block;
}
.rotondo img,
.rotondo .layover{
  border-radius: 50%;
}
.item-album .titolo{
  font-size: 13px;
  font-weight: bold;
  color: white;
  margin: 10px 0 5px 0;
}
/* IMPOSTAZIONE MEDIA QUERY LARGHEZZA 998PX */
@media screen and (max-width: 998px) {
  .album-container{
    flex-wrap: wrap;
  }
  .item-album {
    flex-basis: calc(100%/4);
  }
}
/* IMPOSTAZIONE MEDIA QUERY LARGHEZZA 768PX */
@media screen and (max-width: 768px) {
  .item-album {
    flex-basis: calc(100%/2);
  }
}
/* IMPOSTAZIONE MEDIA QUERY LARGHEZZA 600PX*/
@media screen and (max-width: 600px) {
  .wrapper-main{
    width: calc(100% - 50px);
  }
}
/* //////////////////// FINE IMPOSTAZIONE MAIN ////////////////////////////// */


/* /////////////////////// IMPOSTAZIONE FOOTER ////////////////////////////// */
/* GENERALE */
.media-player{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background: #282828;
  width: 100%;
  height: 81px;
  color: white;
}
.media-player .left,
.media-player .right{
  width: 180px;
  display: flex;
}

/* LEFT */
.media-player img{
  width: 70px;
  padding: 15px 8px;
  vertical-align: middle;
}
.media-player .left .icone{
  display: inline-block;
  padding: 20px 8px 0px 10px;
  font-size: 13px;
  color: lightgray;
}
.media-player .left .icone i:hover{
  color: white;
}
.media-player .info-brano{
  display: inline-block;
  font-size: 11px;
  padding-top: 20px;
}
.media-player .info-brano .autore{
  font-weight: bold;
}
.media-player .info-brano .titolo{
  color: lightgray;
}
.media-player .info-brano .titolo:hover{
  text-decoration: underline;
  color: white;
}
/* RIGHT */
.media-player .right{
  align-items: center;
}
.media-player .right i{
  margin-right: 10px;
}
.media-player .right .volume{
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background: #5a5a5a;
}
.media-player .right .volume .barra-volume{
  width: 20%;
  height: 4px;
  border-radius: 2px;
  background: white;
  position: relative;
}
.media-player .right .volume .barra-volume .cerchio{
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -5px;
  bottom: -3px;
}
.media-player .right .volume:hover .cerchio{
  display: block;
}
.media-player .right .volume:hover .barra-volume{
  background: #adff2f;
}

/* CENTER */
.media-player .center{
  width: 50%;
  text-align: center;
}
.media-player .center i{
  margin: 20px 5px;
}
i.fa-play{
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
  padding-left: 6px;
  margin-top: 15px;
}
.media-player .center i.fa-play:hover{
  transform: scale(1.1);
}
.media-player .center .riproduzione{
  display: flex;
  position: relative;
  bottom: 10px;
}
.media-player .center .riproduzione span{
  font-size: 10px;
  padding: 3px;
}
.media-player .center .barra-riproduzione{
  width: 100%;
  min-width: 100px;
  height: 4px;
  border-radius: 2px;
  background: #5a5a5a;
  margin: auto;
}
.media-player .center .barra-sviluppo{
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: white;
  position: relative;
}
.media-player .center .barra-sviluppo .cerchio{
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -5px;
  bottom: -3px;
}
.media-player .center .barra-riproduzione:hover .cerchio{
  display: block;
}
.media-player .center .barra-riproduzione:hover .barra-sviluppo{
  background: #adff2f;
}
/* //////////////////// FINE IMPOSTAZIONE FOOTER //////////////////////////// */
